<!-- MUI -->
    <link href="//cdn.muicss.com/mui-0.4.7/css/mui.min.css" rel="stylesheet" type="text/css" />
    <script src="//cdn.muicss.com/mui-0.4.7/js/mui.min.js"></script>

<!-- END MUI -->


<div class="auth_page">
  <div class="logo">
    <img src="https://45.media.tumblr.com/ee2a1e38364c90c7b0322cb2409fa448/tumblr_o3n80k74ih1v497yzo1_400.gif"/>
  </div>
  <div class="auth_form_container">
    <div class="auth_form_and_buttons">


      <ul class="mui-tabs__bar mui-tabs__bar--justified">

        <li class="mui--is-active"><a data-mui-toggle="tab" data-mui-controls="pane-justified-1">
          Sign In
        </a></li>

        <li><a data-mui-toggle="tab" data-mui-controls="pane-justified-2">
          Sign Up
        </a></li>

      </ul>

      <!-- Sign In Tab -->
      <div class="mui-tabs__pane mui--is-active" id="pane-justified-1">
        <form action="<%= session_url %>" method="post" class="auth_form">
          <div class="auth_input">

            <div class="mui-textfield mui-textfield--float-label">
              <input type="email" class="email_input" name="user[email]" value="" required>
              <label>Email</label>
            </div>

            <div class="mui-textfield mui-textfield--float-label">
              <input type="password" class="password_input" name="user[password]" value="" required>
              <label>Password</label>
            </div>

          </div>

          <input type="submit" value="Sign In" class="mui-btn">

        </form>

        <form action="<%= session_url %>" method="post">
          <input type="hidden" name="user[email]" value="Dracula@IDvinkYourBlood.com">
          <input type="hidden" name="user[password]" value="vampire">
          <div class="sign_button">
            <input type="submit" value="Log In as Demo User!" onclick="return demo();" class="mui-btn">
          </div>
        </form>
      </div>
      <div class="mui-tabs__pane" id="pane-justified-2">

        <!-- Sign Up Tab -->

        <div class="mui-tabs__pane mui--is-active" id="pane-justified-1">
          <form action="<%= users_url %>" method="post" class="auth_form">
            <div class="auth_input">

              <div class="mui-textfield mui-textfield--float-label">
                <input type="email" class="email_input" name="user[email]" value="" required>
                <label>Email</label>
              </div>

              <div class="mui-textfield mui-textfield--float-label">
                <input type="password" class="password_input" name="user[password]" value="" required>
                <label>Password</label>
              </div>

            </div>
            <input type="submit" value="Sign Up!" class="mui-btn">
            <br>
          </form>
        </div>
        <div class="mui-tabs__pane" id="pane-justified-2">


      </div>

      <div class="auth_tabs">


      </div>


    </div>
  </div>
</div>
