/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *



 *= require_tree .
 *= require_self
 */

 body {
   font-family: sans-serif;
   background-image: url("http://res.cloudinary.com/dazguin0y/image/upload/e_brightness:-80/v1457241867/UserImages/downloaded_yqoe2t.jpg");
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   background-position: center;
   color: lightgrey;
 }

.auth_page {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*.auth_stuff {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}*/


.auth_tabs {
  /*display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-weight: bold;
  font-size: x-large;*/
}

.auth_input {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#pane-justified-1 {
  width: 100%;
}

#pane-justified-2 {
  width: 100%;
}

.auth_form_and_buttons {
  background-color: gray;
  opacity: .7;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.sign_button {
display: flex;
justify-content: center;
}

.mui-textfield {
  width: 90%;
}

/*LocationForm Stuff*/
 .mapAddress {
   margin-left: auto;
   margin-right: auto;
 }

 .LocationForm {
  display: flex;
  flex-direction: column;
  /*flex-flow: column wrap;*/
  align-items: center;
  padding: 50px 0px 0px 0px;
 }

 .locationdescription {
   width: 400px;
   height: 200px;
 }



/*end of location form*/



/*ALL the Location View things*/
/*Containts (Map, Index), and Show */
 .loc_container {
   display: flex;
   padding: 50px 0px 0px 0px;

   /*flex-direction: row;*/
   /*justify-content: center;*/
 }




 /*Contains Map and Index*/
 .search_container {
   display: flex;
   flex-direction: column;
   flex: 1;
   align-items: center;
   /*padding: 20px;
   border: 20px;*/
   margin: 5px;
 }

 .map {
   height: 400px;
   width: 95%;
   display: flex;
 }

/*Just Index Stuff*/
  .index_bit {
    display: flex;
    justify-content: center;
  }

  .location_index {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
  }

  .index_location {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*width: 200px;
    height: auto;*/
  }

  .index_image {
    cursor: pointer;
    width: 225px;
    height: 175px;
    resize: vertical;
    padding: 8px;
    float: left;
    font-size: 11px;
  }

  /*.index_image.resize {
    width: 100%;
    height: auto;
  }*/

  .index_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 11px;
    text-justify: inter-word;
  }

/*Just show, right-half*/

 .show_bit {
   display: flex;
   flex-direction: column;
   align-content: center;
   flex: 1;
   margin: 5px;
   padding: 0px 20px;
 }

 .show_image {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
 }

 .show_title {
   display: flex;
   justify-content: center;
   margin: 10px;
 }

 .show_description {
   text-align: justify;
 }

/*END OF LOCATION VIEW THINGS*/

/*GEOSuggest Styling: DO NOT TOUCH-----------------------------------*/
 .geosuggest {
   font-size: 18px;
   font-size: 1rem;
   position: relative;
   width: 400px;
   margin: 1em auto;
   text-align: left;
 }
 .geo_input {
   display: flex;
   justify-content: center;
 }
 .geosuggest__input {
   width: 100%;
   border: 2px solid transparent;
   box-shadow: 0 0 1px #3d464d;
   padding: .5em 1em;
   -webkit-transition: border 0.2s, box-shadow 0.2s;
           transition: border 0.2s, box-shadow 0.2s;
 }
 .geosuggest__input:focus {
   border-color: #267dc0;
   box-shadow: 0 0 0 transparent;
 }
 .geosuggest__suggests {
   position: absolute;
   top: 100%;
   left: 0;
   right: 0;
   max-height: 25em;
   padding: 0;
   margin-top: -1px;
   background: #fff;
   border: 2px solid #267dc0;
   border-top-width: 0;
   overflow-x: hidden;
   overflow-y: auto;
   list-style: none;
   z-index: 5;
   -webkit-transition: max-height 0.2s, border 0.2s;
           transition: max-height 0.2s, border 0.2s;
 }
 .geosuggest__suggests--hidden {
   max-height: 0;
   overflow: hidden;
   border-width: 0;
 }

 /**
  * A geosuggest item
  */
 .geosuggest-item {
   font-size: 18px;
   font-size: 1rem;
   padding: .5em .65em;
   cursor: pointer;
 }
 .geosuggest-item:hover,
 .geosuggest-item:focus {
   background: #f5f5f5;
 }
 .geosuggest-item--active {
   background: #267dc0;
   color: #fff;
 }
 .geosuggest-item--active:hover,
 .geosuggest-item--active:focus {
   background: #ccc;
 }
