/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *



 *= require_tree .
 *= require_self
 */

 body {
   font-family: sans-serif;
   background-color: black;
   background-image: url("http://res.cloudinary.com/dazguin0y/image/upload/e_brightness:-80/v1457241867/UserImages/downloaded_yqoe2t.jpg");
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   background-position: center;
   color: lightgrey;
 }

.auth_page {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*.auth_stuff {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}*/

.mui-tabs__bar>li.mui--is-active {
    /*border: 2px 2px 0px 2px;*/
     border-bottom-width: 0px;
}
.mui--is-active {
  border: 2px 2px 0px 2px;
  /*background: gray;*/
}

.mui-tabs__bar.mui-tabs__bar--justified>li>a {
  /*background: darkslategray;*/
  opacity: .5;
  cursor: pointer;
  border-style: solid;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-top-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
}

.mui-tabs__bar>li.mui--is-active>a {
    color: black;
    opacity: 1 !important;
    /*background: gray !important;*/
    border-bottom: 0px;
    /*font-size: larger;*/
    border-bottom-width: 0px !important;
    /*border: 2px 2px 0px 2px;*/
}

.auth_tabs {
  /*display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-weight: bold;
  font-size: x-large;*/
}

.auth_input {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.show_pic {
  max-width: 100%;
}

#pane-justified-1 {
  width: 100%;
}

#pane-justified-2 {
  width: 100%;
}

.auth_form_and_buttons {
  background-color: gray;
  opacity: .7;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.sign_button {
display: flex;
justify-content: center;
}

.mui-textfield {
  width: 90%;
}

.slogan_text {
  font: gray;
  font-size: x-large;
}

.slogan {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*LocationForm Stuff*/
 .mapAddress {
   margin-left: auto;
   margin-right: auto;
 }

 .uploadArea {
   display: flex;
   flex-direction: column;
   align-items: center;
 }

 .locOccupancy {
   display: flex;
   flex-direction: column;
 }

 #LocationForm {

  color: white;
  display: flex;
  flex-direction: column;
  /*flex-flow: column wrap;*/
  align-items: center;
  padding: 10px 0px 0px 0px;
  z-index: 0;
 }

 .form_legend {
   color: white;
 }

 .mui-panel {
   margin-top: 65px;
   opacity: .7;
   width: 65%;
   max-width: 460px;
   background-color: rgba(5, 5, 8, .8);;
 }
 .mui-container-fluid {
   display: flex;
   justify-content: center;
 }

 .mui-textfield>input {
   max-width: 400px;
 }

 .locationdescription,.upload,.CreateLocation, .maxOccupancy, .geo_input, .title {
   color: black;
 }

 .uploadArea {

 }

 .occ_select_nums {
   color: black;
 }

 .locOccupancy {
   display: flex;
   flex-direction: column;
   align-items: center;
 }

 .occupancy_select {
   width: 40px;
   color: black;
 }

 #location_description_container {
   margin-top: 15px;
 }

 .locationdescription {
   width: 400px;
   height: 110px;

 }

 .location_description_text {
   color: black;
 }



/*end of location form*/

.mui-textfield>input, .mui-textfield>textarea {
  border-bottom-color: white;
}

.mui-textfield--float-label>label {
  color: white;
}

.mui-textfield--float-label>textarea:not(:focus).mui--is-not-empty~label {
  color: white;
}

.mui-textfield>input:focus~label, .mui-textfield>textarea:focus~label {
  color: white;
}

.mui-textfield--float-label>input:not(:focus).mui--is-not-empty~label {
  color: white;
}

.mui-textfield>input, .mui-textfield>textarea {
  color: white;
}

.mui-textfield>input:focus, .mui-textfield>textarea:focus {
  border-color: white;
}

/*ALL the Location View things*/
/*Containts (Map, Index), and Show */
 .loc_container {
   display: flex;
   padding: 50px 0px 0px 0px;
   /*z-index: -1;*/
   /*flex-direction: row;*/
   /*justify-content: center;*/
 }


.mdl-card {
  background: rgba(5, 5, 8, .8);;
  margin-top: 10px;
  z-index: -5;
}


 /*Contains Map and Index*/
 #search_container {
   display: flex;
   flex-direction: column;
   flex: 1;
   z-index: 0;
   align-items: center;
   /*padding: 0px 30px;*/
   /*border: 20px;*/
   margin: 10px 2px 0px 1%;
 }

 .map {
   height: 400px;
   width: 95%;
   display: flex;
   margin: 10px;
 }

/*Just Index Stuff*/

  #selected.mdl-card--border {
    background: rgba(75,0,190,.25);
    opacity: 1;
  }

  .mdl-card--border {
    background: rgba(75,0,130,.25);
    opacity: .8;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
  }

  .index_bit {
    display: flex;
    justify-content: center;
  }

  .location_index {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .index_location {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*width: 200px;
    height: auto;*/
  }

  .index_image {
    cursor: pointer;
    width: 225px;
    height: 175px;
    resize: vertical;
    padding: 8px;
    float: left;
    font-size: 11px;
  }

  /*.index_image.resize {
    width: 100%;
    height: auto;
  }*/

  .index_text {
    font-size: 15px;
    color: white;
    max-width: 200px;
    justify-content: center;
    /*text-justify: inter-word;*/
  }

  .mdl-card__supporting-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
  }
/*Just show, right-half*/

 .show_bit {
   display: flex;
   flex-direction: column;
   align-content: center;
   flex: 1;
   padding: 0px 0px;
   margin: 0px 1%;
   /*width: 100%;*/
 }

 #show_location {
   z-index: 0;
   width: 100%;
 }

 .showLink {
   color: indigo;
 }

 .show_location_info {
   padding: 0px 10px;
 }

 .show_image {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
 }

 .show_title {
   margin: 10px;
 }

 .show_description {
   text-align: justify;
 }

/*END OF LOCATION VIEW THINGS*/

/*GEOSuggest Styling: DO NOT TOUCH-----------------------------------*/
 .geosuggest {
   font-size: 18px;
   font-size: 1rem;
   position: relative;
   width: 400px;
   margin: 1em auto;
   text-align: left;
 }
 .geo_input {
   display: flex;
   justify-content: center;
 }
 .geosuggest__input {
   width: 100%;
   border: 2px solid transparent;
   box-shadow: 0 0 1px #3d464d;
   padding: .5em 1em;
   -webkit-transition: border 0.2s, box-shadow 0.2s;
           transition: border 0.2s, box-shadow 0.2s;
 }
 .geosuggest__input:focus {
   border-color: #267dc0;
   box-shadow: 0 0 0 transparent;
 }
 .geosuggest__suggests {
   position: absolute;
   top: 100%;
   left: 0;
   right: 0;
   max-height: 25em;
   padding: 0;
   margin-top: -1px;
   background: #fff;
   border: 2px solid #267dc0;
   border-top-width: 0;
   overflow-x: hidden;
   overflow-y: auto;
   list-style: none;
   z-index: 5;
   -webkit-transition: max-height 0.2s, border 0.2s;
           transition: max-height 0.2s, border 0.2s;
 }
 .geosuggest__suggests--hidden {
   max-height: 0;
   overflow: hidden;
   border-width: 0;
 }

 /**
  * A geosuggest item
  */
 .geosuggest-item {
   font-size: 18px;
   font-size: 1rem;
   padding: .5em .65em;
   cursor: pointer;
 }
 .geosuggest-item:hover,
 .geosuggest-item:focus {
   background: #f5f5f5;
 }
 .geosuggest-item--active {
   background: #267dc0;
   color: #fff;
 }
 .geosuggest-item--active:hover,
 .geosuggest-item--active:focus {
   background: #ccc;
 }

 #cloudinary-overlay.with_theme {
   display: block;
 }

 #cloudinary-overlay {
   background-color: rgba(0,0,0,0.7);
 }

 #cloudinary-widget {
   background: #ffffff;
   -moz-border-radius: 0;
   -webkit-border-radius: 0;
   border-radius: 0;
   border: none;
   -moz-box-shadow: none;
   -webkit-box-shadow: none;
   box-shadow: none;
 }

 #cloudinary-navbar {
   background: #fff;
   border: none;
   border-bottom: 1px solid #eee;
   margin: 0 0 10px 0;
   height: 30px;
 }

 #cloudinary-navbar .source {
   border-color: none;
   border-right: 0px;
   border-bottom: 3px solid none;
   height: 30px;
 }

 #cloudinary-navbar .source .label {
   font-size: 14px;
   line-height: 22px;
 }

 #cloudinary-navbar .source .icon {
   display: none;
 }

 #cloudinary-navbar .source.active {
   background: none;
   border-bottom: 3px solid #037FCB;
 }

 #cloudinary-navbar .source.active .label {
   color: #000;
 }

 #cloudinary-widget .drag_area {
   background: #fff;
   border: 2px dashed #ddd;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   margin: 30px 20px 0px 20px;
 }

 #cloudinary-widget .drag_area.in {
   border-color: #01BB16
 }

 #cloudinary-navbar .sources .icon {
   background-position-x: 0px ;
 }

 #cloudinary-navbar .close {
   color: rgb(85, 85, 85);
 }

 #cloudinary-widget .button, #cloudinary-widget .button.small_button {
   box-sizing: border-box;
   color: #037FCB;
   background: none;
   border: 2px solid #037FCB;
 }

 #cloudinary-widget .button {
   height: 45px;
   width: 180px;
   line-height: 30px;
 }

 #cloudinary-widget .button.small_button {
   height: 35px;
   width: 140px;
   line-height: 25px;
 }

 #cloudinary-widget .button:hover, #cloudinary-widget .button.small_button:hover, #cloudinary-widget .upload_button_holder:hover .button {
   background: #037FCB;
   color: #fff;
 }

 #cloudinary-widget .panel {
   height: 479px;
 }

 #cloudinary-widget .panel.local {
   margin-top: 20px;
 }

 #cloudinary-widget .panel.local .drag_area .drag_content .label {
   color: #00619D;
   font-size: 22px;
 }

 #cloudinary-widget .panel.progress .thumbnails {
   margin-top: 4px;
 }

 #cloudinary-widget .panel.camera .form .button_holder {
   margin-top: 10px;
   margin-bottom: 10px;
 }

 #cloudinary-widget .panel.camera .note {
   font-weight: normal;
   font-size: 13px;
   padding: 4px 20px 4px 20px;
 }


 #cloudinary-widget .panel.camera video {
   border-width:0px;
 }

 #cloudinary-widget .camera .form {
   background:#fff;
   border: 1px solid #eee;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   margin: 0px 20px 0px 20px;
   padding-top: 10px;
 }


 #cloudinary-overlay.inline .widget {
   border: 1px solid #ddd;
 }

 @media screen and (max-width: 767px) {
   #cloudinary-widget .drag_area {
     border: none;
     background: none;
   }
 }
